<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

	<!-- 配置客户 -->
	<bean id="customerDao" class="com.test.demo.CustomerDaoImpl"></bean>
	
	<!-- 配置切面类 -->
	<bean id="myAspectXml" class="com.test.demo.MyAspectXml"></bean>
	
	
	<!-- @ContextConfiguration("classpath:applicationContext.xml") -->
	
	
	<!-- 配置aop -->
	<aop:config >
		<aop:aspect ref="myAspectXml">
			<aop:before method="log" pointcut="execution(public void com.test.demo.CustomerDaoImpl.save())"/>
		</aop:aspect>
	</aop:config>
</beans>