<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

	<!-- 配置客户 -->
	<bean id="customerDao" class="com.test.demo.CustomerDaoImpl"></bean>
	
	<!-- 配置切面类 -->
	<bean id="myAspectXml" class="com.test.demo.MyAspectXml"></bean>
	
	<!-- 配置aop -->
	<!-- @ContextConfiguration("classpath:applicationContext3.xml") -->
	<aop:config >
		<aop:aspect ref="myAspectXml">
			
			<!-- 最终通知 -->
			<!-- <aop:after method="after" pointcut="execution(* com.test.*.*DaoImpl.save(..))"/>  -->
			
			<!--  后置方法-->
			<!-- <aop:after-returning method="afterReturn" pointcut="execution(* com.test.*.*DaoImpl.save(..))"/>  -->
		
			<!-- 互绕方法 
				 1.目标方法之前，之后
				 2.默认情况下，目标函数不会执行，需手动开启
			-->
			<aop:around method="around" pointcut="execution(* com.test.*.*DaoImpl.save(..))"/>
		</aop:aspect>
	</aop:config>
</beans>